<mapper namespace="com.web.mapper.BoardMapper">
    <select id="getBoard" resultType="com.web.domain.Board">
        SELECT
        idx, title, image, contents
        FROM
        tb_board
        ORDER BY idx asc
    </select>

    <insert id="addBoard">
        INSERT INTO
        tb_board
        (
        title,
        image,
        contents
        )
        VALUES
        (
        #{title},
        #{image},
        #{contents}
        )
    </insert>

    <select id="getBoardOne" resultType="com.web.domain.Board">
        SELECT
        idx, title, image, contents
        FROM
        tb_board
        WHERE
        idx = #{idx}
    </select>
</mapper>
