<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common :: head('Board home!')">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('home')">
</nav>
<main role="main" class="container">
    <div class="starter-template">
        <h1>Board</h1>
        <p class="lead">Spring Boot을 이용한 웹 페이지 제작<br>
            Spring Security를 이용한 로그인과 CRUD</p>
    </div>
</main>
</body>
</html>