<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/common :: head('Board home!')">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('home')">
</nav>
<div class="container">
    <h1 style="margin-top:90px; margin-bottom:15px">👑 실시간 인기 게시글</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">순위</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일자</th>
                <th scope="col">조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post, i : ${rank_post}">
                <td th:text="${i.count}"></td>
                <td><a th:text="${post.postTitle}" th:href="@{'/post/detail/' + ${post.postId}}"></a>
                    <span class="badge bg-light">
                        <i class="bi bi-chat-right-dots"></i>
                        <a th:text="'+' + ${post.comment_cnt}"></a>
                    </span>
                </td>
                <td th:text="${post.author}"></td>
                <td th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${post.view}"></td>
            </tr>
            </tbody>
        </table>
</div>
</body>
</html>