<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/common :: head('게시판')"></div>
    <style>
        .container {
            margin-top: 50px;
        }

        h2 {
            margin-bottom: 10px;
        }

    </style>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('board')">
</nav>
<div class="container">
    <h2>✍️게시판</h2>
    <form action="#" th:action="@{/post/new}" th:object="${post}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" th:field="*{title}" maxlength='30' required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                제목 에러 메시지
            </div>
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" id="content" rows="3" th:field="*{content}" maxlength="10000" required></textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                내용 에러 메시지
            </div>
        </div>
        <div class="text-right">
            <a type="button" class="btn btn-primary" th:href="@{/post}">취소</a>
            <button type="submit" class="btn btn-primary">저장</button>
        </div>
    </form>
</div>
</body>
</html>