<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <div th:replace="fragments/common :: head('게시판')"> </div>
    <style>
        .container {
            margin-top: 50px;
        }

        h2 {
            margin-bottom: 10px;
        }
    </style>
    <script>
        function deletePost(){
            let id=document.getElementById('postId').value;
            let isDelete=confirm("정말 삭제하시겠습니까?");
            if(isDelete){
                return true;
            }else{
                return false;
            }
        }

        function updatePost(){
            let id=document.getElementById('postId').value;
            let isUpdate=confirm("정말 수정하시겠습니까?");
            if(isUpdate){
                return true;
            }else {
                return false;
            }
        }

        function deleteComment(idx){
            if(!confirm('댓글을 삭제하시겠어요?')) {
                return false;
            }

            var post_id=document.getElementById("postId");
            var uri='/comment/delete/' + idx;
            var headers={"Content-Type" : "application/json", "X-HTTP-Method-Override" : "POST"};
            var params = {"post_id" : post_id.value};

            $.ajax({
                url : uri,
                type : "POST",
                headers : headers,
                data : JSON.stringify(params),
                success : function(response) {
                    window.location.reload();
                    $("#commentModal").modal("hide");
                },
                error : function(xhr, status, error) {
                    alert("에러가 발생하였습니다.");
                    return false;
                }
             });
        }

        function saveComment() {
            if(!isValid("reply")) {
                return false;
            }

            var content = document.getElementById("reply");
            var commentMsg=document.getElementById("reply_msg");
            var post_id=document.getElementById("postId");

            var uri = "/comment/write";
            var headers = {"Content-Type": "application/json", "X-HTTP-Method-Override" : "POST"};
            var params = {"comment" : content.value, "post_id" : postId.value};

            $.ajax({
                url: uri,
                type: "POST",
                headers : headers,
                data: JSON.stringify(params),
                success: function(response) {
                    if (response.blank == true) {
                        commentMsg.innerHTML="댓글을 작성해주세요.";
                    }else if (response.max == true) {
                        commentMsg.innerHTML="10,000자 이하로 댓글을 작성하세요.";
                    }else {         // 댓글 등록 완료
                        window.location.reload();
                    }
                },
                error: function(xhr, status, error) {
                    alert("에러가 발생하였습니다." + error + status);
                    return false;
                }
            });
        }

        function updateComment(idx) {
            if(!isValid("modalContent")) {
                return false;
            }
            if(!confirm('댓글을 수정하시겠어요?')) {
                return false;
            }

            var content = document.getElementById("modalContent");
            var commentMsg=document.getElementById("check_comment");

            var uri = "/comment/update/" + idx;
            var headers = {"Content-Type": "application/json", "X-HTTP-Method-Override" : "PUT"};
            var params = {"comment" : content.value};

            $.ajax({
                url: uri,
                type: "PUT",
                headers: headers,
                data: JSON.stringify(params),
                success: function(response) {
                    if (response.blank == true) {
                        commentMsg.innerHTML="댓글을 작성해주세요.";
                    }else if (response.max == true) {
                        commentMsg.innerHTML="10,000자 이하로 댓글을 작성하세요.";
                    }else {         // 댓글 수정 완료
                        window.location.reload();
                        $("#commentModal").modal("hide");
                    }
                },
                error: function(xhr, status, error) {
                    alert("에러가 발생하였습니다." + error + status);
                    return false;
                }
            });
        }

        function openModal(idx, writer, content) {

            $("#commentModal").modal("toggle");
            document.getElementById("modalWriter").value = writer;
            document.getElementById("modalContent").value = content;

            document.getElementById("btnCommentUpdate").setAttribute("onclick", "updateComment("+ idx +")");
            document.getElementById("btnCommentDelete").setAttribute("onclick", "deleteComment("+ idx +")");

	}

	function hideModal() {
	    $("#commentModal").modal("hide");
	}

	function isValid(value) {
	    const content=document.getElementById(value);

	    if (!content.value.trim()) {
	        alert('댓글을 입력하세요.');
	        content.focus();
	        return false;
	    }

	    return true;
	}
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('board')">
    </nav>
    <div class="container" th:with="username=${#authentication.name}">
        <h2>게시판✍️</h2>
        <form action="#" th:action="@{'/post/detail/' + ${post.id}}" th:object="${post}" method="post">
            <input type="hidden" name="_method" value="put">
            <input id="postId" type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control"
                       th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" id="title" th:field="*{title}" required>
                <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                    제목 에러 메시지
                </div>
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control" id="content" rows="3" th:field="*{content}"
                          th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'" required></textarea>
                <div class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                    내용 에러 메시지
                </div>
            </div>
            <div style="float:right;">
                <a type="button" class="btn btn-primary" th:href="@{/post}">취소</a>
                <input type="hidden" name="_method" value="put"/>
                <button type="submit" class="btn btn-primary" th:if="${#strings.equals(post.author, username)}" onclick="return updatePost();">수정</button>
            </div>
        </form>
        <div style="float:left;">
            <form th:method="delete" th:action="@{'/post/delete/' + ${post.id}}">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="btn btn-primary" th:if="${#strings.equals(post.author, username)}" onclick="deletePost();">삭제</button>
            </form>
        </div>

        <th:block layout:fragment="modal">
            <div id="commentModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="hideModal();">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" th:action="@{/comment/write}">
                                <div class="form-group">
                                    <label for="modalWriter" class="col-form-label">작성자</label>
                                    <input type="text" id="modalWriter" class="form-control" disabled/>
                                </div>
                                <div class="form-group">
                                    <label for="modalContent" class="col-form-label">내용</label>
                                    <textarea id="modalContent" class="form-control" maxlength="10000" placeholder="내용을 입력해주세요."></textarea>
                                    <div id="check_comment" class="text-danger"></div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btnModalCancel" class="btn btn-default waves-effect waves-light" data-dismiss="modal" onclick="hideModal();">취소하기</button>
                            <button type="button" id="btnCommentUpdate" class="btn btn-primary waves-effect waves-light" onclick="updateComment()">수정하기</button>
                            <button type="button" id="btnCommentDelete" class="btn btn-danger waves-effect waves-light" onclick="deleteComment()">삭제하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>

        <br/>
        <br/>
        <div class="card w-100">
            <div class="card-header bi bi-chat-right-dots"> Write a Comment</div>
            <form method="POST" th:action="@{/comment/write}">
                <input type="hidden" id="post_id" name="post_id" th:value="${post.id}">
                <div class="card-body">
                    <textarea id="reply" name="reply" class="form-control" rows="4" maxlength="10000" placeholder="댓글을 입력하세요"></textarea>
                    <span class="text-danger" id="reply_msg"></span>
                </div>
                <div class="card-footer">
                    <button type="button" id="btn-comment-save" onclick="saveComment()" class="btn btn-outline-primary bi bi-pencil-square">등록</button>
                </div>
            </form>
        </div>
        </br>
        <div id="commentTable">
            <div class="card-header bi bi-chat-dots"> Comments</div>
            <div th:each="comment:${commentList}" class="card">
                <ul class="list-group-flush">
                    <li class="list-group-item">
                        <form method="post">
                            <span th:text="${comment.user_name}" style="font-size: small"> 작성자 </span>
                            <span th:text="${#temporals.format(comment.createdDate, 'yyyy-MM-dd HH:mm')}" style="font-size: xx-small"> 날짜 </span>
                            </br>
                            <span th:text="${comment.comment}">댓글</span>
                            <button type="button" th:if="${#strings.equals(comment.user_name, username)}" th:attr="onclick=|openModal('${comment.id}', '${comment.user_name}', '${comment.comment}' )|" class="bi bi-pencil" style="float : right"></button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>