<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/common :: head('게시판')"> </div>
    <style>
        .container {
            margin-top: 50px;
        }

        h2 {
            margin-bottom: 10px;
        }
    </style>
    <script>
        function deletePost(){
            let id=document.getElementById('postId').value;
            let isDelete=confirm("정말 삭제하시겠습니까?");
            if(isDelete){
                return true;
            }else{
                return false;
            }
        }

        function updatePost(){
            let id=document.getElementById('postId').value;
            let isUpdate=confirm("정말 수정하시겠습니까?");
            if(isUpdate){
                window.location.href="/post/edit/"+id;
            }
        }



        function updateComment() {
            var commentBean={
                content: $("#commentContent").val()
            };
            $.ajax({
                url: "/comment/write",
                contentType: 'application/json',
                type: "POST",
                data: commentBean
            })
            .done(function(fragment) {
                $('#commentTable').replaceWith(fragment);
            });
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('board')">
    </nav>
    <div class="container">
        <h2>게시판✍️</h2>
        <form action="#" th:action="@{'/post/detail/' + ${post.id}}" th:object="${post}" method="post">
            <input type="hidden" name="_method" value="put">
            <input id="postId" type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control"
                       th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" id="title" th:field="*{title}" required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                    제목 에러 메시지
                </div>
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control" id="content" rows="3" th:field="*{content}"
                          th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'" required></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                    내용 에러 메시지
                </div>
            </div>
            <div style="float:right;" th:with="username=${#authentication.name}">
                <a type="button" class="btn btn-primary" th:href="@{/post}">취소</a>
                <button class="btn btn-primary" th:if="${#strings.equals(post.author, username)}" onclick="updatePost();">수정</button>
            </div>
        </form>
        <div style="float:left;" th:with="username=${#authentication.name}">
            <form th:action="@{'/post/delete/'+${post.id}}" th:method="delete" onsubmit="return deletePost()">
                <button class="btn btn-primary" th:if="${#strings.equals(post.author, username)}">삭제</button>
            </form>
        </div>

        <br/>
        <div class="card">
            <div class="card-header bi bi-char-right-dots"> Write a Comment</div>
            <form method="POST" onsubmit="return checkComment(event)" th:action="@{/comment/write}">
                <input type="hidden" id="post_id" name="post_id" th:value="${post.id}">
                <div class="card-body">
                    <textarea id="reply" name="reply" class="form-control" rows="4" placeholder="댓글을 입력하세요"></textarea>
                </div>
                <div class="card-footer">
                    <button id="btn-comment-save"class="btn btn-outline-primary bi bi-pencil-square">등록</button>
                </div>
            </form>
        </div>

        <div id="commentTable">
            <div th:each="comment:${commentList}" class="card">
                <form method="post">
                    <span th:text="${comment.user_name}"> 작성자 </span>
                    <span th:text="${#temporals.format(comment.createdDate, 'yyyy-MM-dd HH:mm')}"> 날짜 </span>
                </form>
                <div th:text="${comment.comment}">댓글</div>
            </div>
        </div>

    </div>
</body>
</html>