<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>게시판</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
</head>

<body>
<div class="container">
    <br/>
    <h1 class="text-center">board</h1>
    <br/>
    <div>총 건수 : <span th:text="${post.totalElements}"></span></div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>작성자</th>
                <th>등록일</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tr th:each="post, i : ${post}">
                    <td th:text="${i.count}"></td>
                <td>
                    <a th:href="@{'/post/detail/' + ${post.id}}">
                        <span th:text="${post.title}"></span>
                    </a>
                </td>
                <td th:text="${post.author}"></td>
                <td th:text="${post.CreatedDate}"></td>
                <td th:text="${post.view}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="button" class="btn btn-info pull-left" onclick="location.href='/'">홈</button>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${1==post.pageable.pageNumber+1}? 'disabled'">
                <a class="page-link" th:href="@{/post(page=${post.pageable.pageNumber-1})}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item" th:classappend="${i==post.pageable.pageNumber+1}? 'disabled'" th:each="i : ${#numbers.sequence(start, end)}"><a class="page-link" th:href="@{/post(page=${i-1})}" th:text="${i}">1</a></li>
            <li class="page-item" th:classappend="${post.totalPages==post.pageable.pageNumber+1}? 'disabled'">
                <a class="page-link" th:href="@{/post(page=${post.pageable.pageNumber+1})}">Next</a>
            </li>
        </ul>
    </nav>

<form action="/post/search" method="GET" align="right">
    <input name="keyword" type="text" placeholder="검색어를 입력해주세요">
    <button>검색</button>
</form>

</div>
</body>
</html>