<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/common :: head('게시판')"></div>
    <style>
        .container {
            margin-top: 20px;
        }

        .d-flex {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('board')">
    </nav>
    <div class="container">
        <h2>게시판✍️</h2>
        <div style="float:left; margin-top:10px;">총 건수 : <span th:text="${post.totalElements}"></span></div>
        <form class="form-inline d-flex justify-content-end" method="GET" th:action="@{/post}" style="float:right;">
            <div class="form-group mx-sm-3 mb-2">
                <label for="searchText" class="sr-only">검색</label>
                <input type="text" class="form-control" id="searchText" name="keyword" placeholder="검색어를 입력해주세요"
                       th:value="${param.keyword}">
            </div>
            <button type="submit" class="btn btn-light mb-2">검색</button>
        </form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">조회수</th>
                <th scope="col">작성일자</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="post, i : ${post}">
                    <td th:text="${i.count}"></td>
                    <td><a th:text="${post.title}" th:href="@{'/post/detail/' + ${post.id}}"></a></td>
                    <td th:text="${post.author}"></td>
                    <td th:text="${post.view}"></td>
                    <td th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd')}"></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div style="margin-top:60px;">
        <div style="float:right;">
            <a type="button" class="btn btn-primary" th:href="@{/post/new}">쓰기</a>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" style="margin-top:0;">
                <li class="page-item" th:classappend="${1==post.pageable.pageNumber+1}? 'disabled'">
                    <a class="page-link" th:href="@{/post(page=${post.pageable.pageNumber-1})}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item" th:classappend="${i==post.pageable.pageNumber+1}? 'disabled'" th:each="i : ${#numbers.sequence(start, end)}"><a class="page-link" th:href="@{/post(page=${i-1})}" th:text="${i}">1</a></li>
                <li class="page-item" th:classappend="${post.totalPages==post.pageable.pageNumber+1}? 'disabled'">
                    <a class="page-link" th:href="@{/post(page=${post.pageable.pageNumber+1})}">Next</a>
                </li>
            </ul>
        </nav>
        </div>
    </div>
</body>
</html>
