<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
<table border="1">
    <tr>
        <th>#</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성시간</th>
    </tr>
    <tbody>
    <tr th:each="search, i : ${search}">
        <td th:text="${i.count}"></td>
        <td>
            <a th:href="@{'/post/detail/'+${search.id}}">
            <span th:text="${search.title}"></span>
            </a>
        </td>
        <td th:text="${search.author}"></td>
        <td th:text="${search.CreatedDate}"></td>
    </tr>
    </tbody>
</table>
</div>

</body>
</html>