<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/common :: head('게시판')"></div>
    <style>body{padding-top:70px; padding-bottom:30px;}</style>
    <script>
        function updatePost(){
            let id=document.getElementById('postId').value;
            let isUpdate=confirm("정말 수정하시겠습니까?");
            if(isUpdate){
                window.location.href="/post/edit/"+id;
            }
        }
    </script>
</head>

<body>
<div class="container">
    <h2>board Form</h2>
    <form th:action="@{'/post/edit/'+${post.id}}" method="post">
        <div class="mb-3">
            <lable for="title">제목</lable>
            <input type="text" class="form-control" name="title" th:value="${post.title}" required/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                제목 에러 메시지
            </div>
        </div>
        <div class="mb-3">
            <lable for="content">내용</lable>
            <textarea name="content" class="form-control" rows="6" th:text="${post.content}" required></textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                내용 에러 메시지
            </div>
        </div>
        <input type="hidden" id="postId" th:value="${post.id}">
        <input type="hidden" name="_method" value="put"/>
        <button type="submit" onclick="updatePost();" class="btn btn-primary me-md-2">수정</button>
        <button class="btn btn-primary me-md-2" onclick="location.href='/post'">목록</button>
    </form>
</div>
</body>
</html>